.mount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 132px;
  margin: 25px 0;
}
.mount button {
  border: none;
  background: transparent;
  cursor: pointer;
}
.mount button svg {
  width: 20px;
  height: 20px;
}
.AddCart a {
  background: var(--main-color);
  color: #fff;
  padding: 5px 25px;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.AddCart a:hover {
  background: #c5a491;
  color: #000;
}
