.LinkContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.LinkContainer .btn {
  border-color: transparent;
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
  background: var(--main-color);
  color: #fff;
  border-radius: 0.25rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  cursor: pointer;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}
.LinkContainer .clearbtn {
  border-color: transparent;
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
  background: #222;
  color: #fff;
  border-radius: 0.25rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  cursor: pointer;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}
