.PageHero {
  background: #eaded7;
  width: 100%;
  min-height: 20vh;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: var(--clr-primary-1);
}
.PageHero h3 {
  margin-bottom: 12px;
  padding-left: 30px;
  text-transform: capitalize;
  font-size: 25px;
}
.PageHero h3 a {
  color: #795744;
  transition: 0.3s;
  padding: 5px;
}
